*.vcxproj.user
*.sdf
*.opensdf
*.ilk
ipch
*.suo
*.tga
*.aux
*.log
Project1/Debug/fltkdlld.dll
Project1/Debug/Project 1.exe
Project1/Debug/Project 1.pdb
Project2/Debug/fltkdlld.dll
Project2/Debug/Project2.exe
Project2/Debug/Project3.pdb
